<div class="container">
    <table id="courses" class="table">
        <tr>
            <th scope="col">Name course</th>
            <th scope="col">Language</th>
            <th scope="col">Degree level</th>
            <th scope="col">Total fee</th>
            <th scope="col">Accommodation fee</th>
            <th scope="col">Tuition fee</th>
            <th scope="col">Country</th>
            <th></th>
        </tr>
    </table>
</div>